.custom-input {
    padding: 0.8rem 1.2rem;
    border: 2px solid #fe5b3d;
    border-radius: 25px;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
  }
  
  .custom-input:focus {
    outline: none;
    border-color: #ff8e53;
    box-shadow: 0 0 0 2px rgba(255, 142, 83, 0.4);
  }
  



  