/* Стили для кнопки с кастомным классом */
.custom-button {
    padding: 0.7rem 1rem;
    background-color: #fe5b3d;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .custom-button:hover {
    background-color: #ff8e53;
    transform: scale(1.05);
  }
  
  .custom-button:active {
    transform: translateY(2px);
  }
  
  /* .custom-button.primary {
    background-color: #fe5b3d;
    color: white;
  } */
  
  .custom-button.secondary {
    background-color: #444;
    color: white;
  }
  
.inside-btn {
  position: absolute; /* Кнопка располагается относительно контейнера */
  right: 0.3rem; /* Расположить кнопку справа */
  top: 50%; /* По вертикали центрируем кнопку */
  transform: translateY(-50%); /* Для точного центрирования */
  padding: 0.1rem 1rem;
  background-color: #fe5b3d;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.inside-btn:hover {
  background-color: #ff8e53;
  transform: translateY(-50%) scale(1.05);
}

.inside-btn:active {
  transform: translateY(-50%) scale(0.95);
}
